schemas/item-list.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://libero.pub"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="item-list">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item-rf" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
            <xs:attribute name="service" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>